<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :Product_name %><br>
    <%= form.text_field :product_name, placeholder: "Enter a product name" %>
    <% @product.errors.full_messages_for(:product_name).each do |message| %>
      <%= message %>
    <% end %>
  </div>
  <div>
    <%= form.label :Description %><br>
    <%= form.text_area :description, placeholder: "Enter a product description" %>
    <% @product.errors.full_messages_for(:description).each do |message| %>
      <%= message %>
    <% end %>
  </div>
  <div>
    <%= form.label :Price %><br>
    <%= form.number_field :price %>
    <% @product.errors.full_messages_for(:price).each do |message| %>
      <%= message %>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
